{% extends "base.html" %}
{% block title %}: Index{% end %}

{% block head %}
<script src="/static/fabric.js?t={{t}}"></script>

<style>
.i {
    float: left;
    border: 1px solid black;
    margin: 3px;
    display: inline-block;
}
.i3x4 {
    width: 300px;
    height: 400px;
}
.i4x3 {
    width: 400px;
    height: 300px;
}

</style>
{% end %}

{% block body %}

<div id="ct"></div>


<script type="text/javascript">
var data = {};
function callback(result_str) {
    var result = JSON.parse(result_str);
    var ct = $('#ct');
    console.log(result);
    result.data.objs.forEach(function(item) {
        var el = $('<div>');
        el.addClass('i');
        el.addClass('i'+item.size);
        el.css('background-image', 'url("/static/img/'+item._id+'.jpg")');
        ct.append(el);
    });
}

$.ajax({type: 'GET', url: '/image/', data: data, success: callback});
</script>
{% end %}

