{% extends "base.html" %}
{% block title %}: Index{% end %}

{% block head %}
<link rel="stylesheet" href="/static/justifiedGallery.min.css" />
<script src="/static/jquery.justifiedGallery.min.js"></script>

<style>
</style>
{% end %}

{% block body %}

<div id="gallery"></div>

<script type="text/javascript">
    var tpl = function(img) {return $('<img src="/static/img/'+img+'.jpg">');}

    var data = {};
    function callback(result_str) {
        var result = JSON.parse(result_str);
        var gallery = $('#gallery');
        console.log(result);
        result.data.objs.forEach(function(item) {
            console.log([item, tpl(item._id)]);
            gallery.append(tpl(item._id));
        });
        gallery.justifiedGallery();
    }

    $.ajax({type: 'GET', url: '/image/', data: data, success: callback});

</script>
{% end %}

